body {
  color: #333;
}

img {
  max-width: 100%;
}

main {
  padding: 10px;
  max-width: 500px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

header a {
  text-decoration: none;
  color: inherit;
}

header logo {
  font-weight: bold;
}

header nav {
  display: flex;
  gap: 15px;
}

div.post {
  display: grid;
  grid-template-columns: .9fr 1.1fr;
  gap: 20px;
}
div.post div.image{
    
}